<h1><%=@task.title%></h1>
<p class="alert alert-primary"><%=@task.details%></p>
<p><%= @task.completed == false ? 'ðŸŸ¦ This task is not completed yet' : 'â˜‘ï¸ This task is completed'%></p>

<div class="footer">
    <%= link_to 'âœŽ Update task', edit_path %><br>
    <%= link_to 'â†©ï¸ Back to list', tasks_path, class: 'tasks' %>
</div>